<h1>CHIPS</h1>
<tag-input [(ngModel)]='items'></tag-input>
<h1>CHIPS WITH AUTOCOMPLETE ACCEPTS DATA OUTSIDE OF THE DROPDOWNLLIST</h1>
<tag-input [ngModel]="['@item']">
  <tag-input-dropdown [autocompleteItems]="['Sanket', 'Shivani', 'Medhavin', 'Apar', 'Vijeta']">
  </tag-input-dropdown>
</tag-input>
<h1>CHIPS WITH AUTOCOMPLETE DOESNOT ACCEPTS DATA OUTSIDE OF THE DROPDOWNLLIST</h1>
<tag-input [ngModel]="['@item']"
           [onlyFromAutocomplete]="true">
  <tag-input-dropdown [showDropdownIfEmpty]="true"
                      [autocompleteItems]="['iTem1', 'item2', 'item3']">
  </tag-input-dropdown>
</tag-input>
